<!DOCTYPE html>
<html>
<head>
  <title>Add a Task</title>
</head>
<body>
<form action="/" method="post">
  <input type="text" name="add_task">
  <button type="submit">Add Task</button>
</form>
</body>
</html>