<html>
<head>
  <title>Task Manager</title>
</head>
<body>
<h1>Welcome to your Task Manager</h1>
<a href="/tasks/new">Add Task</a>
<ol>
  <% task_id = 0 %>
  <% TASK_LIST.each do |task| %>
    <li><%= task %> - <a href="/tasks/<%= task_id %>">Show Task</a></li>
    <% task_id += 1 %>
  <% end %>
</ol>
</body>
</html>