<!DOCTYPE html>
<html>
<head>
  <title>Task Manager</title>
</head>
<body>
<h1>Welcome to your Task Manager</h1>
<a href="/tasks/new">Add Task</a>
<ol>
  <% task_list.each_with_index do |task, index| %>
    <li><%= task %> - <a href="/tasks/<%= index %>">Show Task</a></li>
  <% end %>
</ol>
</body>
</html>